.cps-autocomplete {
	color: var(--descrip-text);
	background-color: var(--comfy-menu-bg);
	position: absolute;
	font-family: sans-serif;
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
	z-index: 9999;
	overflow: auto;
}

.cps-autocomplete-item {
	cursor: pointer;
	padding: 3px 7px;
	display: flex;
	border-left: 3px solid transparent;
	align-items: center;
}

.cps-autocomplete-item:hover {
  background-color: var(--comfy-menu-secondary-bg);
  border-left: 5px solid dodgerblue !important; /* Thicker left border only */
}

.cps-autocomplete-item--selected {
    background-color: var(--comfy-menu-secondary-bg); 
	border-left: 5px solid dodgerblue !important; /* Thicker left border only */
}

.cps-autocomplete-highlight {
	font-weight: bold;
	text-decoration: underline;
	text-decoration-color: dodgerblue;
}